SKIP_PREFLIGHT_CHECK=true
REACT_APP_AUTH_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiJkMmU4ZWI2ZS1hYjNjLTRiYjgtYWFhZS1lN2YyMmNhOTVkY2QiLCJnbG9iYWxpZCI6InRlc3QiLCJ1dWlkIjoiOTY3ZWIyNjYtMTRhMS00MTkwLTljMGItYzRiMWYxNzk5ZmE5IiwidmFsaWRfdG8iOiJUdWUsIDI5IE9jdCAyMDE5IDA5OjU5OjM5IEdNVCIsImNsaWVudF9uYW1lIjpudWxsLCJleHAiOjE1NzIzNDMxNzksInZhbGlkX3RvX3V0YyI6IjIwMTktMTAtMjlUMDk6NTk6MzkuNTYzWiIsImdyYW50X3R5cGUiOiJpbXBsaWNpdCIsInJuZCI6IjQ3bmh5X3JuayIsImlhdCI6MTU2NzE1OTE3OX0.vc33P6GUGapDrBMFpq-VqN9aBXaQLWlzhiOrqSisksycDp1R_NgFQRc2YaovH8H5MgALHUMX6ZfmIg2tceal0H9advgNCf_IHkXZ4-Ju0X6xAcelxS7gAu_v7GYXzXTYRJgCh84PNlal2LIcVdiz4uTxd0nSvSlnDIVUIQOZ6qlmT1C47amVFSxug7B5JkKOXhrI0ljiNoJutoEGLzjiblYDKLJXkZYlHbGVhfRvl7DVTGhpOQ3TxJ-v42DyLVHWcuI0JuDzpTOlAc2SgzT2SHYzYBsMLSHqg3ePS_VLOH9a3-mIu1f5WL4OpvUZm6T656Oy92vZwVO0EWfubiM8ng
REACT_APP_USER_DEFAULT_AVATAR_URL=https://st2.depositphotos.com/9223672/12056/v/950/depositphotos_120568248-stock-illustration-male-face-avatar-logo-template.jpg
