.message-list-container {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.message-list {
  max-height: calc(100vh - 117px);
  display: grid;
  grid-template-rows: auto 63px;
}

.message-loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
}

.lds-eclipse {
  width: 50px;
  height: 50px;
}
