.messenger {
  display: flex;
  width: 100%;
  height: 100%;
  background: #eeeef1;
  transition: transform .3s ease 0s;
}

.container {
  padding: 10px;
}

.sidebar {
  min-width: 350px;
  max-width: 350px;
  background: white;
  border-right: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.conversations-toolbar,
.messages-toolbar {
  min-height: 48px;
  border-bottom: 1px solid #e4e4e4;
}

@media screen and (max-width: 960px) {
  .sidebar {
    min-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    min-width: 300px;
  }
}
@media screen and (max-width: 667px) {
  .messenger.f_chat_active {
    transform: translateX(-100%);
  }
  .sidebar,
  .content {
    min-width: 100%;
  }
}
